.user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

md-toolbar {
  position: relative;
  z-index: 2;
}

.mat-button {
  padding: 0 8px;
}

.mat-sidenav {
  max-width: 200px;
}

.content {
  position: absolute;
  top: 64px;
  bottom: 0;
  left:0;
  right: 0;
  overflow: auto;
}

.mat-list {

  &-item {
    outline: none;
  }

  .active {
    background-color: #eaeaea;
  }

  opacity: 0.8;
}