<md-toolbar color="primary" class="mat-elevation-z6">
  <button md-icon-button (click)="sidenav.toggle()" *ngIf="isAuth">
    <md-icon>menu</md-icon>
  </button>
  <button md-icon-button *ngIf="isAuth">
    <md-icon *ngIf="online">network_wifi</md-icon>
    <md-icon *ngIf="!online">signal_wifi_off</md-icon>
  </button>
  <span class="toolbar-spacer"></span>

  <span *ngIf="isAuth">
    <button md-icon-button>
      <img class="user-avatar" [src]="(user | async)?.photoURL">
    </button>
    <span class="mat-button">{{(user | async)?.displayName}}</span>
    <button md-icon-button (click)="logout()">
      <md-icon>exit_to_app</md-icon>
    </button>
  </span>

</md-toolbar>

<md-sidenav-container class="content">
  <md-sidenav #sidenav mode="side" align="start" class="mat-elevation-z6">
    <md-toolbar color="primary">
      <button md-icon-button (click)="sidenav.toggle()">
        <md-icon>arrow_back</md-icon>
      </button>
    </md-toolbar>

    <md-list>
      <md-list-item routerLink="/chat" routerLinkActive="active">
        <md-icon md-list-icon>chat</md-icon>
        <h4 md-line>Chat</h4>
      </md-list-item>
      <md-list-item routerLink="/live-gps" routerLinkActive="active">
        <md-icon md-list-icon>near_me</md-icon>
        <h4 md-line>Live GPS</h4>
      </md-list-item>
    </md-list>

  </md-sidenav>

  <router-outlet></router-outlet>
</md-sidenav-container>